.header{
    background-color: #333;
    width: 100%;
    height: 50px;
    display: flex;
    color: #fff;
    align-items: center;
    font-weight: 600;
    padding-top: 20px;
}

.ddList{
    display: flex;
    padding-left: 50px;
    width: 100%;
}

.ddList .dropdown{
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropBtn{
    background-color: #333;
    color: #fff;    
    height: 45px;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    float: left;
    overflow: hidden;
}

.dropBtn:hover{
    background-color: #fff;
    color: #000;
}
.arrow {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-left: 0.38em;
    margin-top: -0.25em;
    transition: transform 100ms ease-in-out;
  }

  .dropdown:hover >.dropBtn > .arrow {
    transform: rotate(-225deg);
    margin-top: 4px;
  }

.ddContent{
    top: 42px;
    padding-top: 20px;
    padding-left: 55px;
    padding-bottom: 15px;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 1349px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ddContent:hover{
    background-color: #fff;
}
h4{
    color: #333;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 3px;
}

.ddContent .linking{
    color: #333;
    font-weight: 400;
    padding: 3px 1px;
    text-decoration: none;
    display: block
}

.ddContent .linking:hover
{
    color: #000;
    text-decoration: none;
    background-color: #fff;
    height: 100%;
    color: #876a20;
}

.dropdown:hover .ddContent {
    display: block;
}

.dropdown:hover .dropBtn {
    /* background-color: #fff; */
    color: #000;
    font-weight: 600;
}
.row{
    width: 800px;
    margin-left: 15px;
}

.column {    
    float: left;
    width: 23%;
    padding-left: 0px;
    /* padding: 10px; */
    /* height: 250px; */
  }
  .ddContent .roomLink{
    color: #333;
    font-weight: 400;
    padding: 3px 1px;
    text-decoration: none;
    display: block
}
  .column .roomLink:hover{
    color: #876a20;
  }

.buttons{
    display: flex;
    margin-right: 100px;
    text-align: center;
    margin-top: -12px;
    width: 130px;
    height: 35px; 
    border: 1px solid #fff;
    
}
.buttons button{ 
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;   
}